body {
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: url("../Images/background_1610.jpg") fixed no-repeat left 15vh;
}

@media screen and (min-width: 1610px) {
    body {
        background: url("../Images/background_2120.jpg") fixed no-repeat left 15vh;
    }
}

@media screen and (max-width: 1320px) {
    body {
        background: url("../Images/background_1320.jpg") fixed no-repeat left 15vh;
    }
}

#box{
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #D4AE4C;
}
#BoxHelp{
    margin-top: 50px;
    margin-bottom: 50px;
}