body {
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    background: url("../Images/background_1610.jpg") fixed no-repeat left 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 1610px) {
    body {
        background: url("../Images/background_2120.jpg") fixed no-repeat left 15vh;
    }
}

@media screen and (max-width: 1320px) {
    body {
        background: url("../Images/background_1320.jpg") fixed no-repeat left 15vh;
    }
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
}

.contentBlock {
    background-color: rgba(238, 231, 228, 0.6);
    padding: 10px 20px;
    border-radius: 20px;
}

#signUpBlock {
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 65px;
    margin-bottom: 53px;
}

#signUpBlock form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}

#signUpBlock form fieldset {
    border: none;
    width: 28vw;
}

#signUpBlock form fieldset p input {
    height: 12px;
    padding: 5px 0 5px 3px;
    margin-top: 3px;
    border: none;
}

/* ------ Private infos ------ */

#birthday {
    width: 124px;
}

/* ------ Id infos ------ */

input[type="password"] {
    font-family: Verdana, sans-serif;
}

/* ------ Actions button ------ */

#actions {
    text-align: center;
}

#signUpBtn, #cancelRegisBtn {
    width: 80px;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 7px;
    font-size: 1em;
    text-align: center;
}

#signUpBtn {
    background-color: #D4AE4C;
    border: none;
    cursor: pointer;
    padding-left: 7px;
}

#cancelRegisBtn {
    background-color: #6f7173;
}

#signUpBtn:hover, #cancelRegisBtn:hover {
    z-index: 1;
    box-shadow: 2px 2px 5px #2c3639;
}