body{
    font-family: Trebuchet MS;
    font-size:20px;
}
ul {
    list-style-type: none;
    margin-top:  0;
    padding: 0;
    overflow: hidden;

    top : 0;
    background-color: white;
}

li {
    float: left;
    margin-top: 70px;
    margin-left: 85px;
}

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover{
    border-bottom: 6px solid #D4AE4C;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 4;
    margin-left: 20px;
    margin-top: 0px;
    border-radius: 5px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 5px;
}

.dropdown-content a:hover {background-color: #D4AE4C;}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    border-bottom:6px solid #D4AE4C;
    color: black;
}

p{
    text-align: center;
    margin-bottom: 0;
}

img {
    float : left;
    margin-right: 50px;
    margin-top: 0;
    position: relative;
}

#inscription  {
    display: inline-block;
    color : black;
    background-color: #D4AE4C;
    padding: 7px;
    margin-left: 45px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

#connexion{
    display: inline-block;
    color : white;
    text-decoration: none;
    padding: 7px;
    margin-left: 50px;
    background-color: #3C3E40;
    border-radius: 5px;
}
#mail{
    text-decoration: none;
    color: black;
    float: left;
}
.mail{
    width: 45px;
    float: left;
    text-align: center;
}
.phone{
    padding: 0;

    margin-left: 5px;
}
#phone {
    margin-bottom: 15px;
    text-align: center;
    margin-right: 150px;



}
.mention{
    display: inline-block;
    text-align: center;
    margin-left: 400px;

}
.contact{
    display: inline-block;
}
#facebook{
    width: 50px;
}
#twitter{
    width: 50px;
}
#instagram{
    width: 50px;
}
#linkedin{
    width: 50px;
}
.logo{
    display: inline-block;
    float: right;
    margin-top: 65px;
}
#boxInscription{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    margin-left: 500px;
    margin-top: 125px;
    border: 1px solid #D4AE4C
}
#title{
    margin-left: 30%;
    margin-bottom:10px;

}
#ligne{
    border-bottom: 6px solid #D4AE4C;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 30px;
}
#name{
    display: inline-block;
    margin-right: 50px;
    margin-left: 25px;
}
#email{
    display: inline-block;
    margin-left: 130px;
    float: right;

}
#prénom{
    display: inline-block;
    margin-left: 25px;
}
#password{
    display: inline-block;
    margin-left: 180px;
    float: right;
}
#date{
    display: inline-block;
    margin-left: 25px;
    font-size: 15px;
    float: left;
}
#Cpassword{
    display: inline-block;
    margin-left: 228px;
    float: right;
}
#cgu{
    display: inline-block;
    font-size: 10px;
    margin-right: 150px;
}
#submit{
    display: inline-block;
    margin-left:45%;

}
#submit input{
    background-color: #D4AE4C;
    border-radius: 5px;
}
#date input{
    width: 100%;
    height: 100%;
}