body {
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background: url("../Images/background.jpg") fixed no-repeat left 15vh;
}

/* ------ Lateral div ------ */
#lateralDiv {
    background-color: rgba(240, 240, 240, 0.70);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 260px;
    min-width: 260px;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

#userInfos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2em;
}

#userInfos img {
    width: 6vw;
    height: 12vh;
    border-radius: 87px;
}

#lastData {
    width: 240px;
    max-height: 335px;
    overflow: auto;
}

#startTest {
    display: flex;
    justify-content: center;
}

#startTest a {
    background-color: #3C3E40;
    color: white;
    border-radius: 13px;
    padding: 5px 8px;
    margin-top: 20px;
}

/* ------ Main content ------ */
#mainContent {
    background-color: rgba(240, 240, 240, 0.70);
    padding: 20px;
    border-radius: 20px;
    max-width: 1165px;
    margin: auto;
}
