body{
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    background: url("../Images/background.jpg") fixed no-repeat left 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
}

.contentBlock {
    background-color: rgba(238, 231, 228, 0.6);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    width: 60vw;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

/* ------ AddSensor block ------ */

#addSensorBlock {
    margin-top: 110px;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
}

#addSensorBtn {
    font-size: 1em;
    margin-left: 80px;
    padding: 8px 12px;
    border-radius: 5px;
    border: none;
    background-color: #e6963a;
    color: black;
    cursor: pointer;
}

#linkGestionTest {
    text-decoration: none;
    color: #111145;
    padding: 10px;
    margin-top: 20px;
    border-top: solid #383838 1px;
    width: 15vw;
    text-align: center;
    font-weight: bold;
}

/* ------ List of sensors block ------ */

#listOfSensorsBlock {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sensor {
    width: 18vw;
    margin-bottom: 30px;
}

.deleteSensor {
    text-decoration: none;
    color: darkred;
}