body{
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    background: url("../Images/background_1610.jpg") fixed no-repeat left 15vh;
}

@media screen and (min-width: 1610px) {
    body {
        background: url("../Images/background_2120.jpg") fixed no-repeat left 15vh;
    }
}

@media screen and (max-width: 1320px) {
    body {
        background: url("../Images/background_1320.jpg") fixed no-repeat left 15vh;
    }
}

h3 {
    font-weight: bold;
    font-size: 1.2em;
}

.contentBlock {
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 20px;
    background-color: rgba(238, 231, 228, 0.6);
}

/* ------ Add block ------ */

#addBlock {
    padding-bottom: 20px;
    margin-top: 15vh;
    margin-bottom: 15vh;
}

#titleOfAdd {
    text-align: center;
}

#add {
    background-color: #141458;
    border: solid 2px #141458;
    font-size: 1em;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
}

#add:hover {
    background-color: #f0f0f0;
    color: #141458;
    box-shadow: none;
}

/* ------ Test blocks ------ */

#listOfTests {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 60vw;
}

.test {
    width: 20vw;
}

.delete{
    text-decoration: none;
    color: #c20909;
}
