body {
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background:url("../Images/background.jpg") fixed no-repeat left 15vh;


}

p {
    background-color: rgba(240, 240, 240, 0.6);
    padding: 20px;
    border-radius: 20px;
}

#detail{
    text-decoration: none;
    color: #e6963a;
}
#BoxTicket{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid #D4AE4C;
    margin-top: 150px;
    margin-bottom: 150px;
}
#supprimer{
    text-decoration: none;
    color: darkred;
}