body{
    font-family: Trebuchet MS, Arial, serif;
    font-size: 1em;
    color: black;
    margin-top: 135px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: start;
    background: url("../Images/background_1610.jpg") fixed no-repeat left 15vh;
}

@media screen and (min-width: 1610px) {
    body {
        background: url("../Images/background_2120.jpg") fixed no-repeat left 15vh;
    }
}

@media screen and (max-width: 1320px) {
    body {
        background: url("../Images/background_1320.jpg") fixed no-repeat left 15vh;
    }
}

.contentBlock {
    background-color: rgba(238, 231, 228, 0.6);
    padding: 10px 20px;
    border-radius: 20px;
    margin: 20px 0;
    width: 40vw;
}

h3 {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0;
}

.option{
    text-decoration: none;
    color: darkred;
}

.admin, .user {
    padding: 10px;
    border-bottom: solid #383838 1px;
}

/* ------ Admin block ------ */

#adminBlock {
    margin-top: 15vh;
    margin-bottom: 15vh;
}

.downgrade{
    color: crimson;
}

/* ------ User block ------ */

.user {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user div {
    width: 15vw;
}

.upgrade {
    color: darkblue;
}

.modif{
    color: darkgreen;
}